{% extends "layout.html" %}

{% block title %}
    Awards
{% endblock %}

{% block main %}
<div class="header">
    <h1>
        <b>milestones</b>
    </h1>
    <p>reach personal milestones by writing guides, joining sessions, and helping others. check your position on the leaderboard.</p>
</div>

    <div class="container awards header">
        <div class="row">
            <div class="box_s col-md-3" id=boxx>
                <img src="static/award-grey.png" id="award1" style="margin-bottom: 20px;">
                <p style="text-align: center;">
                    Earn 100 points by Hosting a call, Answering a call, or Publishing
                </p>
                <h1 style="text-align: center;">
                    <b>descartes</b>
                </h1>
            </div>
            <div class="box_s col-md-3" id=boxx>
                <img src="static/award-grey.png" id="award2" style="margin-bottom: 20px;">
                <p style="text-align: center;">
                    Earn 200 points by Hosting a call, Answering a call, or Publishing
                </p>
                <h1 style="text-align: center;">
                    <b>pascal</b>
                </h1>
            </div>
            <div class="box_s col-md-3" id=boxx>
                <img src="static/award-grey.png" id="award3" style="margin-bottom: 20px;">
                <p style="text-align: center;">
                    Earn 300 points by Hosting a call, Answering a call, or Publishing
                </p>
                <h1 style="text-align: center;">
                    <b>plato</b>   
                </h1>
            </div>
            <div class="box_s col-md-3" id=boxx>
                <img src="static/award-grey.png" id="award4" style="margin-bottom: 20px;">
                <p style="text-align: center;">
                    Earn 400 points by Hosting a call, Answering a call, or Publishing
                </p>
                <h1 style="text-align: center;">
                    <b>aristotle</b>
                </h1>
            </div>
        </div>
    </div>

<style>
    #boxx{
        margin-right:10px;
        margin-left: 10px; 
        align-items: center;
    }
</style>

    <script>
        // Access the points value from the template
        var points = {{ points }};
        
        // Check the points value and show awards accordingly
        var award1 = document.getElementById("award1");
        var award2 = document.getElementById("award2");
        var award3 = document.getElementById("award3");
        var award4 = document.getElementById("award4");

        if (points >= 100) {
            award1.src = "static/award.png";
        }
        if (points >= 200) {
            award2.src = "static/award.png";
        }
        if (points >= 300) {
            award3.src = "static/award.png";
        }
        if (points >= 400) {
            award4.src = "static/award.png";
        }
    </script>

<div class="header"><h1 id="myh2"></h1></div>


<div class="row justify-content-center">
    <div class="col-sm-8">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-stacked100@1.0.0"></script>

<script>
    let curr_points = {{ points }};
    let goal_points = 0;

        document.addEventListener("DOMContentLoaded", function () {
        var resultElement = document.getElementById("myh2");
        resultElement.innerHTML = "Your current points: " + curr_points;
    });


    if (curr_points < 100) {
        goal_points = 100 - curr_points;
    }
    else if (curr_points < 200 && curr_points >= 100) {
        goal_points = 200 - curr_points;
    }
    else if (curr_points < 300 && curr_points >= 200) {
        goal_points = 300 - curr_points;
    }
    else if (curr_points < 400 && curr_points >= 300) {
        goal_points = 400 - curr_points;
    }

    Chart.register(ChartjsPluginStacked100.default);
    const data = {
      labels: [' '],
      datasets: [{
        label: 'Current points',
        data: [curr_points],
        backgroundColor: [
          'rgba(99, 184, 133, 1)',
        ],
        borderColor: [
          'rgba(99, 184, 133, 1)',
        ],
        borderWidth: 0,
        barPercentage: '0.3',
        borderSkipped: 'right',
        borderRadius: 20
      },{
        label: 'Points goal',
        data: [goal_points],
        backgroundColor: [
          'rgba(115, 115, 115, 1)',
        ],
        borderColor: [
          'rgba(115, 115, 115, 1)',
        ],
        borderWidth: 0,
        barPercentage: '0.3',
        borderRadius: 20,
        borderSkipped: 'left'
      }]
    };

    // config
    const config = {
      type: 'bar',
      data,
      options: {
        maintainAspectRatio: false,
        indexAxis: 'y',
        plugins: {
            stacked100: {
                enable: true,
            },
            legend: {
                display: false
            }
        },
        scales: {
            x: {
                display: false,
                grid: {
                    drawOnChartArea: false,
                },
                ticks: {
                    display: false,
                }
            },
            y: {
                display: false,
                beginAtZero: true,
                grid: {
                    drawOnChartArea: false,
                },
                ticks: {
                    display: false,
                }
            }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
    </script>
{% endblock %}