{% extends "layout.html" %}

{% block title %}
    Guides
{% endblock %}

{% block main %}
<div class="header">
    <h1>
        <b>points leaderboard</b>
    </h1>
    <p>read about findings and insights from sessions in guides.</p>
</div>

<div class="container">
    <div style="margin-top:30px">
        <div class="row">
            {% for i in range(num_of_rows) %}
                <a href="/post/{{guides[i].post_id}}" style="width: fit-content; text-decoration:none; color: black;">
                    <div class="guides box_s" style="margin: 10px;">
                        <p class="header" style="font-weight: 800; text-align: left;">{{ guides[i].title }}</p>
                        <p>By {{ guides[i].author }}</p>
                        <p>Posted on {{ guides[i].time }}</p> 
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
