{% extends "layout.html" %}

{% block title %}
    Guides
{% endblock %}

{% block main %}
    <div>
        <div class="row">
            {% for i in range(5) %}
                <a href="/post/{{guides[i].post_id}}" style="width: 450px; text-decoration:none; color: black;">
                    <div class="guides box_s">
                        <p>By {{ guides[i].author }}</p>
                        <p>Posted on {{ guides[i].time }}</p> 
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
