{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="gradient-container"></div>
        <div class="container" id="centering">
        <!-- Page contents -->
            <div id="welcome-container" style="height: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <div id="welcome-text" class="hidden header">
                    <h1 class="highlight" style="font-size: 150px; font-family: helvetica; font-weight: 900;">wizlink</h1>
                    <p>take learning beyond the textbook.</p>
                </div>
            </div>
        
            <style>
                #centering {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                #welcome-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100vh;
                }
            
                #welcome-text {
                    font-size: 24px;
                    opacity: 0;
                    text-align: center;
                }
            
                .fade-in {
                    animation: fadeIn 4s forwards;
                }
            
                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            </style>
        
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const welcomeText = document.getElementById("welcome-text");
                    
                    // Add the "fade-in" class to trigger the animation
                    welcomeText.classList.add("fade-in");
                });
            </script>
            
            <style>
                .scroll-parent {
                position: relative;
                width: 100vw;
                height: 20rem;
                overflow-x: hidden;
                }
            
                .scroll-element {
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0%;
                top: 0%;
                animation: primary 5s linear infinite;
                }
            
                @keyframes primary {
                from {
                    left: 0%;
                }
                to {
                    left: -100%;
                }
                }
            
                .primary {
                    animation: primary 6s linear infinite;
                }
            
                .secondary {
                    animation: secondary 6s linear infinite;
                }
            
                @keyframes primary {
                    from {
                        left: 0%;
                    }
                    to {
                        left: -100%;
                    }
                }
            
                @keyframes secondary {
                    from {
                        left: 100%;
                    }
                    to {
                        left: 0%;
                    }
                }
                .loading {
                    display: none;
                }
            </style>
        </div>

        <div class="scroll-parent">
            <div class="scroll-element primary">
                <img src="static/scroll/img1.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img2.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img3.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img4.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img5.jpg" class="loading" style="width: 220px; height: 200px; padding-left: 30px;">
            </div>
            <div class="scroll-element secondary">
                <img src="static/scroll/img1.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img2.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img3.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img4.jpg" class="loading" style="width: 300px; height: 200px; padding-left: 30px;">
                <img src="static/scroll/img5.jpg" class="loading" style="width: 220px; height: 200px; padding-left: 30px;">
            </div>
        </div>
        
        <style>
            .gradient-container {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(-45deg, #87CEEB, white);
                animation: gradient 5s ease infinite;
                z-index: -1;
            }
            
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            .fade-in-image {
                animation: fadeInImage 1s ease forwards;
                opacity: 0;
            }

            @keyframes fadeInImage {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        </style>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Add a class to trigger the animation
                const gradientContainer = document.querySelector(".gradient-container");
                gradientContainer.classList.add("animate");
            });

            document.addEventListener("DOMContentLoaded", function () {
            const images = document.querySelectorAll(".loading");
            
            // Function to remove loading class
            function removeLoadingClass() {
                images.forEach(image => {
                    image.classList.remove("loading");
                    image.classList.add("fade-in-image");
                });
            }
            
            // Remove loading class after 3 seconds
            setTimeout(removeLoadingClass, 3000);
    });
        </script>
    </body>
</html>


{% endblock %}