{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
<div class="header">
  <h1>
      <b>points leaderboard</b>
  </h1>
  <p>points are gained by learners and experts by writing guides, joining sessions, and helping others.</p>
</div>
<div class="container">
<table class="table" style="color: #405E79; margin-top: 30px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">user</th>
        <th scope="col">points</th>
      </tr>
    </thead>
    <tbody>
        {% for i in range(10) %}
            {% if i < rows|length %}
                <tr>
                    <th scope="row"> {{ i+1 }} </th>
                    <td> {{ rows[i]["username"] }} </td>
                    <td> {{ rows[i]["points"] }} </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}