{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}


<div>
    <body> 
        {% for item in post %}
        <div class="post">
            <div class="header">
                <h1>
                    <b>{{ item.title }}</b>
                </h1>
                <p>By {{ item.author }}, posted on {{ item.time }}</p>
            </div>
            <div class="container">
                <div class="box_s">
                    <p>{{ item.content }}</p>
                </div>
                <div class="text-center">
                    <button class="button_s" onclick="history.back()">back</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </body>
</div>
{% endblock %}
