{% extends "layout.html" %}

{% block title %}
    Guides
{% endblock %}

{% block main %}
<div class="header">
    <h1>
        <b>create guide</b>
    </h1>
    <p>publish your findings and insights in guides to help others.</p>
</div>
<div class="box_s" style="width: 100cap;">
    <form action="/publish" method="post">
        <div class="mb-3 mt-3">
            <input autocomplete="off" autofocus class="form-control" id="title" name="title" placeholder="Topic" type="text" required>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="content" name="content" rows="10" placeholder="Start typing here..." required></textarea>
        </div>
        <div class="text-left">
            <button class="button_s" type="submit">post</button>
        </div>
    </form>
</div>
{% endblock %}