{% extends "layout.html" %}

{% block title %}
    Rooms
{% endblock %}

{% block main %}
<script src="https://media.twiliocdn.com/sdk/js/video/releases/2.17.1/twilio-video.min.js"></script>

<div class="header">
    <div id="writing">
        <h1>
            <b>join a session</b>
        </h1>
        <p>look for experts and learners to exchange knowledge with.</p>
    </div>
  </div>

    <div class="box_s" id="box">
      <form id="room-name-form" method="post" action="/">
          <input name="room-name-input" id="room-name-input" class="input-group-text mx-auto p-2" placeholder="create or join session">
          <br>
          <input name="username" id="username" class="input-group-text mx-auto p-2" placeholder="username">
          <br>
          <button type="submit" class="button_s">join session</button>
      </form>
    </div>

<div id="video-container"> 
    <div id="utility-buttons">
        <button class="btn bg-danger" id="disconnect-button">
            <img id="endcall-button-img" src="static/end-call.png">
        </button>
        <button class="btn bg-info" id="audio-button">
            <img id="audio-button-img" src="static/mute-audio.png">
        </button>
        <button class="btn bg-info" id="video-button">
            <img id="video-button-img" src="static/mute-video.png">
        </button>
    </div>
</div>
<script src="static/main.js"></script>

<style>
    .bg-info {
        color: #405E79;
    }
</style>

<div class="box_s" id="myTableDiv" >
    <table id="myTable" class="table table-borderless" style="color: #405E79">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Expert</th>
            <th scope="col">Topic</th>
            <th scope="col">Room Name</th>
            <th scope="col">Elapsed Time</th>
        </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
                <tr>
                    <td>
                        {{ room["host_name"] }}
                    </td>
                    <td>
                        {{ room["categories"] }}
                    </td>
                    <td>
                        {{ room["room_name"] }}
                    </td>
                    <td>
                        0
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}