{% extends "layout.html" %}

{% block title %}
    Tags
{% endblock %}

{% block main %}
<div class="header">
    <h1>
        <b>select tags</b>
    </h1>
    <p>select topics that you are interested in to personalize your experience.</p>
</div>  

<div class="container">
<div id="outline-box" class="box_s" style="padding: auto;">
    <div class="btn-rows">
        <button class="button_s btn-inf custom-smaller">math</button>
        <button class="button_s btn-inf custom-smaller">physics</button>
        <button class="button_s btn-inf custom-smaller">compsci</button>
        <button class="button_s btn-inf custom-smaller">english</button>
    </div>
    <div class="btn-rows">
        <button class="button_s btn-inf custom-smaller">chemistry</button>
        <button class="button_s btn-inf custom-smaller">business</button>
        <button class="button_s btn-inf custom-smaller">biology</button>
        <button class="button_s btn-inf custom-smaller">history</button>
    </div>
    <div class="btn-rows">
        <button class="button_s btn-inf custom-smaller">languages</button>
        <button class="button_s btn-inf custom-smaller">economics</button>
        <button class="button_s btn-inf custom-smaller">geography</button>
        <button id="other" class="button_s btn-inf custom-smaller">other</button>
        <div id="other-dropdown" class="dropdown" style="display: none;">
            <input type="text" id="other-input" class="form-control" placeholder="Enter custom tag">
        </div>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <button id="submit_btn" class="button_s">Submit</button>
    </div>
</div>
</div>

<script>
    const otherButton = document.getElementById("other");
    const otherDropdown = document.getElementById("other-dropdown");
    const otherInput = document.getElementById("other-input");
    let selected = [];

    let submit_btn = document.getElementById("submit_btn");
    document.addEventListener("DOMContentLoaded", function() {
        const darkButtons = document.querySelectorAll(".btn-inf");

        darkButtons.forEach(darkButton => {
            darkButton.addEventListener("click", function() {
                // Toggle the class to apply/remove the dark color
                if (darkButton.classList.contains("darken-btn")) {
                    darkButton.classList.remove("darken-btn");
                    selected = selected.filter(item => item !== darkButton.innerHTML);

                } else {
                    darkButton.classList.add("darken-btn");
                    selected.push(darkButton.innerHTML);
                }
            });
        });
    });

    submit_btn.addEventListener("click", function() {
        if (otherDropdown.style.display == "block") {
            selected.push(otherInput.value);
        }

        console.log(selected);

        data = { "tags": selected };

        fetch("/submit-tags", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Request failed with status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(data.response);
        })
        .catch(error => {
            console.error(error);
        });

        window.location.href = "/";
    })

    otherButton.addEventListener("click", function() {
        if (otherDropdown.style.display == "none") {
            otherDropdown.style.display = "block";
        }
        else {
            otherDropdown.style.display = "none";
        }

    });
</script>
{% endblock %}